<div class="home__container">
   	<app-card
		  gameCover="assets/pEs-2023.jpg"
			gameLabel="Digital"
			gameType="Disc PS5"
			gamePrice="699,99"
		></app-card>

		<app-card
		  gameCover="assets/bt-hardline.jpg"
			gameLabel="Exclusive"
			gameType="Digital PS4"
			gamePrice="399,99"
		></app-card>

		<app-card
		  gameCover="assets/bt-1.jpg"
			gameLabel="NEW"
			gameType="Digital PS3 | PS4 | PS5"
			gamePrice="399,99"
		></app-card>

		<app-card
		  gameCover="assets/ac-cover.jpg"
			gameLabel="Exclusive"
			gameType="Digital PS5"
			gamePrice="399,99"
		></app-card>
</div>
